/* React Filepicker Example CSS */

body {
    font-family: sans-serif;
}

h2, h3 {
    color: #000;
}

h2 a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: #F7F7F7;
}

div.example {
    margin-left: 20px;
}

div.intro {
    margin-left: 20px;
    color: #000;
}
.filepicker {
    font-family: sans-serif;
}

div.filepicker {
    text-align: center;
    padding: 5px;
    background-color: rgba(239, 239, 239, 0.58);;
    border-radius: 5px;
    min-height: 60px;
    border: 2px dashed #C7C7C7;
}

/* Icon */
.filepicker-file-icon
{
    position: relative;

    display: inline-block;

    margin: 1.5em 0 2.5em 0;
    padding-left: 45px;

    color: black;
}
.filepicker-file-icon::before
{
    position: absolute;
    top: 5px;
    left: 0;

    width: 38px;
    height: 40px;

    content: '';

    border: solid 2px #7F7F7F;
    border-radius: 5px;
}
.filepicker-file-icon::after
{
    font-size: 11px;
    line-height: 1.3;

    position: absolute;
    top: 22px;
    left: 0px;

    padding: 0 2px;

    content: 'file';
    content: attr(data-filetype);
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff;
    background-color: rgb(65, 88, 65);

    min-width: 37px;
    text-align: center
}
.filepicker-file-icon .fileCorner
{
    position: absolute;
    top: -7px;
    left: 22px;

    width: 0;
    height: 0;

    border-width: 11px 0 0 11px;
    border-style: solid;
    border-color: white transparent transparent #920035;
}

.dropzone .dz-preview .dz-remove{
    text-decoration: none;
    padding: 5px;
    background-color: #b32c28;
    border-radius: 6px;
    max-width: 97px;
    margin: auto;
    margin-top: 8px;
    font-weight: bolder;
    color: #fff;
}

.filepicker.dropzone .dz-preview.dz-image-preview .dz-image{
    border-radius: 50%;
    border: 3px #cccccc solid;
    -webkit-box-shadow: 4px 7px 24px -1px rgba(0,0,0,0.68);
    -moz-box-shadow: 4px 7px 24px -1px rgba(0,0,0,0.68);
    box-shadow: 4px 7px 24px -1px rgba(0,0,0,0.68);
}

.filepicker.dropzone .dz-preview.dz-image-preview .dz-image-area{
    border-radius: 4%;
    border: 2px #cccccc solid;
    -webkit-box-shadow: 4px 7px 24px -1px rgba(0,0,0,0.68);
    -moz-box-shadow: 4px 7px 24px -1px rgba(0,0,0,0.68);
    box-shadow: 4px 7px 24px -1px rgba(0,0,0,0.68);
    background-color: rgba(41, 41, 41, 0.24);
    display: table-footer-group;
}

.filepicker.dropzone .dz-preview.dz-image-preview .dz-image-area img{
    width: 120px;
    height: auto;
}
.filepicker.dropzone .dz-preview.dz-image-preview .dz-image-area div{
    min-width: 120px;
    font-size: 22px;
    padding: 6px;
    font-weight: 900;
    min-height: 120px;
    background-color: rgb(227, 227, 227);
    padding-top: 17%;
}
.filepicker.dropzone .dz-preview{
    margin: 8px;
    min-height: 160px
}
.dz-preview-area {
    min-height: 150px;
    border: 2px solid rgba(0,0,0,0.3);
    background: white;
    padding: 15px 15px;
}
.dropzone .dz-preview .action-btn{
    text-decoration: none;
    padding: 6px 10px;
    max-width: 97px;
    font-weight: bolder;
    position: relative;
    bottom: -15px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 5px;
    border-radius: 7px;
    border: 1px #ccc solid
}
.dropzone .dz-preview .action-btn:hover{
    background-color: rgb(255, 255, 255);
}
.dropzone .dz-preview .remove-attach{
color: rgba(117, 3, 3, 0.65)
}
.dropzone .dz-preview .remove-attach:hover{
    color: rgba(117, 3, 3, 1)
}
.dropzone .dz-preview .download-attach{
    color: rgba(199, 199, 199, 0.76)
}
.dropzone .dz-preview .download-attach:hover{
    color: rgb(97, 97, 97)
}
.dropzone .dz-preview .action-btn span{
    vertical-align: text-top;
}

