html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }
  .sidebar-offcanvas {
    position: absolute;
    width: 60%; /* 6 columns */
    display: none;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-right.active
  .sidebar-offcanvas {
    display: block;  
    right: 0;
    top: 0;
    z-index: 1;
  }
}

.main{
  margin: 0px 15px 0px 15px;
}

.login-form{
  margin-top: 10%;
}
.login-form .panel{
  min-height: 260px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}
.login-form .panel-heading{
  max-height: 100px;
}
.login-form .panel-heading h3{
  margin: 0px;
}
.login-form .form-group{
  position: relative;
}
.login-form .form-group span{
  position: absolute;
  top: 23%;
  font-size: 18px;
  color: #adadad;
  left: 1%;
}
.login-form .panel-body input{
  margin: 10px 3px;
  padding: 0px 15px;
  padding-left: 10%;
}
.login-form .button-area{
  margin-top: 20px;
}
.login-form .button-area a{
  min-width: 123px;
}

.main-chat-room {
  background-color:#f7f7f7;
  overflow-y: hidden;
  position: relative;
  flex: 1;
  outline: 0;
  min-height: 20px;
  bottom: 50px;
}
.main-chat-room .left-message{
  margin: 3px 15px;
  padding: 10px;
  background: #e5e5e5;
  float: left;
  border-radius: 8px;
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 10%;
  left: 18px;
  overflow-x: auto;
  padding-top: 20px;
  padding: 0px;
  width: 16%;
}
.sidebar-offcanvas{
  position: relative;
}
.sidebar-header {
  position: fixed;
  top: 40px;
  width: 16%;
  left: 17px;
}

.sidenav a {
    text-decoration: none;
    display: block;
    background: #fff;
    border: 1px #e5e5e5 solid;
    border-radius: 5px;
    padding: 10px 0px;
}

.footer {
  position: fixed;
  bottom: 0px;
  text-align: left;
  min-height: 50px;
  background: #f7f7f7;
  padding: 0px 20px;
  margin-left: 10px;
}
.footer p{
  padding: 0px 10px;
  margin: 0px;
  line-height: 34px;
}
.footer .message-input{
  height: 100%;
  border: 2px #d3d2d2 solid;
  border-radius: 5px;
  min-height: 38px;
}
